@model LoginViewModel
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Login";
}
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <div class="card text-white bg-primary mb-3 mt-5">
                <form class="form" method="post" asp-controller="Home" asp-action="Index">
                    <div class="card-header card-header text-center">
                        <h4 class="card-title">Welcome Back</h4>
                        <p class="text-center">To Doctor Appointment Booking System</p>
                    </div>
                    <div class="card-body my-auto pb-3">
                        <div class="form-group">
                            <label asp-for="ICNo"></label>
                            <input type="text" class="form-control" asp-for="ICNo" placeholder="Enter IC no.">
                            <span asp-validation-for="ICNo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNo"></label>
                            <input type="text" class="form-control" asp-for="PhoneNo" placeholder="Phone no.">
                            <span asp-validation-for="PhoneNo" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Role">I am a...</label>
                            <select asp-for="Role" class="form-control" id="exampleSelect1">
                                <option value="patient">Patient</option>
                                <option value="doctor">Doctor</option>
                            </select>
                        </div>

                        <div class="text-center py-auto my-auto mx-auto">
                            <a class="btn btn-danger mx-auto" asp-action="Register" asp-controller="Home">Register</a>
                            <button type="submit" class="btn btn-success mx-auto">Log on</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">

            <p>Our Mental Health Department will take care of you. Welcome!!! For many mental health conditions, including:</p>

            <ul class="">
                <li class="">
                    Obsessive-compulsive disorder
                </li>
                <li class="">
                    Post-traumatic stress disorder
                </li>
                <li class="">
                    Generalised anxiety disorder
                </li>
                <li class="">
                    Depression
                </li>
                <li class="">
                    And MORE!!
                </li>
            </ul>
        </div>
    </div>
</div>