@model AppointmentViewModel
@{
    Layout = "_PatientLayout";
    ViewData["Title"] = "Book Appointment";
}

<div class="mx-auto center col-lg-6 col-md-8 col-sm-10 col-xs-12">
    hello
    @*<form asp-controller="Home" asp-action="CreateCategory" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for=""></label>
            <input asp-for="Name" class="form-control" required>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Confirm</button>
    </form>*@
</div>
